@model Trial.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    //Layout = "";
}
<link href="~/Content/login.css" rel="stylesheet" />
<div class="row" style="margin:0 auto">
    <div class=" brg_login">
        <section id="loginForm">
            <div class="padding_header">
                <h2 class="center brg_box header">トライアルシステム</h2>
            </div>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

              <br />
                <div class="brg_box content">
                    @Html.ValidationSummary(true)
                    <div class="form-group ">
                        <div>
                            @Html.LabelFor(m => m.UserName, new { @class = " control-label" })
                        </div>

                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id = "txt_user_id" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="form-group ">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "col-md-10 form-control", id = "txt_user_pass" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="submit" value="ログイン" class="btn" id="btn_login" />
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}